<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - {{ sitename }}</title>

    {% block stylesheets %}{% endblock %}

    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" rel="stylesheet">
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('index') }}">{{ sitename }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for OnePage in pages %}
                    <li {% if page is defined and page.slug is same as(OnePage.slug) %}class="active"{% endif %}><a href="{{ path('single_page', { 'slug': OnePage.slug }) }}">{{ OnePage.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>