{% extends 'main/base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>{{ page.title }}</h1>
            <p>{{ page.content }}</p>
        </div>

        <div>
            <span>Par moi le {{ page.publishedDate|date('d/m/y', "Europe/Paris") }}</span>
        </div>

        <img class="img-thumbnail" src="img/{{ page.imgSrc }}" alt="{{ page.imgSrc }}" data-holder-rendered="true">
    </div>
{% endblock %}